:root {
  font-family: Courier Prime, monospace;
  color: whitesmoke;
  background-color: black;
}

a {
  color: whitesmoke;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
}

  a:hover {
    color: #747bff;
  }

